/* Reset e estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo da página */
body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    font-size: 20px;
}

/* Formulário */
.form-container {
    max-width: 500px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.matricula-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

.matricula-form input,
.matricula-form select,
.matricula-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Rodapé */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin-top: 30px;
}

.termos{
    color: black;
    background: #2980b9;
}